<h1 class="app-main-title">{{ translate('Orders') }}</h1>

<hblreact-orders-table-orders
  string:tag="table-orders"
  string:view="{{ viewParams.view }}"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-orders-table-orders>