<h1 class="app-main-title">{{ translate('Orders') }} > {{ translate('Payments') }}</h1>

<hblreact-orders-table-payments
  string:tag="table-payments"
  string:view="{{ viewParams.view }}"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-orders-table-payments>