<div class="flex flex-col p-2 text-sm font-normal">
  <div class="flex gap-2">
    <div class="bg-gray-50 p-1">
      <div class="text-primary">{{ item.OWNER.nick ?? (item.OWNER.email ?? '<div class="text-red-800 text-xs">?</div>') }}</div>
      <div class="text-gray-400">{{ item.MANAGER.nick ?? (item.MANAGER.email ?? '<div class="text-red-800 text-xs">?</div>') }}</div>
    </div>
    <div>
      <div class="text-gray-400 text-nowrap">{{ item.CUSTOMER.name }}</div>
      <div class="font-bold">{{ item.identifier }} {{ item.title }}</div>
    </div>
  </div>
  {% if item.virt_next_activity_date == '' %}
    <div class="badge badge-danger text-xs">
      <i class="fas fa-calendar mr-2"></i>
      No future activity is planned.
    </div>
  {% else %}
    <div class="badge badge-success text-xs">
      <i class="fas fa-calendar mr-2"></i>
      Next activity planned for <b>{{ hubleto.locale().formatDateShort(item.virt_next_activity_date) }}</b>.
    </div>
  {% endif %}
</div>
