<h1 class="app-main-title">{{ appName }} > {{ modelPluralForm }}</h1>

<app-{{ appName|lower }}-table-{{ modelPluralForm|lower }}
  int:record-id="{{ viewParams.recordId }}"
></app-{{ appName|lower }}-table-{{ modelPluralForm|lower }}>