<h1 class="app-main-title">{{ translate('Email marketing') }} > {{ translate('Campaigns') }} > {{ translate('Schedules') }}</h1>

<hblreact-email-marketing-table-campaigns-schedules
  string:tag="table-email-marketing-table-campaigns-schedules"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-email-marketing-table-campaigns-schedules>