<h1 class="app-main-title">{{ translate('Email marketing') }} > {{ translate('Emails') }}</h1>

<hblreact-email-marketing-table-emails
  string:tag="table-email-marketing-table-emails"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-email-marketing-table-emails>