<h1 class="app-main-title">{{ translate('API') }} > {{ translate('Keys') }}</h1>

<hblreact-api-table-keys
  string:tag="api-table-keys"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-api-table-keys>