<div><b>Chart of Accounts</b></div>

<div>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/accounts"
  >
    <span class="icon"><i class="fas fa-money-check-dollar"></i></span>
    <span class="text">Accounts</span>
  </a>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/account-types"
  >
    <span class="icon"><i class="fas fa-tag"></i></span>
    <span class="text">Account Types</span>
  </a>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/account-subtypes"
  >
    <span class="icon"><i class="fas fa-tags"></i></span>
    <span class="text">Account Subtypes</span>
  </a>
</div>

<div class="mt-2"><b>Journal</b></div>

<div>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/entries"
  >
    <span class="icon"><i class="fas fa-book"></i></span>
    <span class="text">Entries</span>
  </a>
</div>

<div class="mt-2"><b>Transactions</b></div>

<div>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/transactions"
  >
    <span class="icon"><i class="fas fa-receipt"></i></span>
    <span class="text">List</span>
  </a>
</div>

<div class="mt-2"><b>Bookkeeping</b></div>

<div>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/payable"
  >
    <span class="icon"><i class="fas fa-circle-dollar-to-slot"></i></span>
    <span class="text">Account Payable</span>
  </a>
  <a
    class="btn btn-small btn-list-item btn-transparent mt-2"
    href="{{ hubleto.env().projectUrl }}/accounting/receivable"
  >
    <span class="icon"><i class="fas fa-hand-holding-dollar"></i></span>
    <span class="text">Account Receivable</span>
  </a>
</div>