<h1 class="app-main-title">{{ translate('Campaigns') }}</h1>

<hblreact-campaigns-table-campaigns
  string:tag="table-campaigns"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-campaigns-table-campaigns>