<h1 class="app-main-title">{{ translate('Campaigns') }} > {{ translate('Recipients') }} > {{ translate('Statuses') }}</h1>

<hblreact-campaigns-table-recipient-statuses
  string:tag="table-recipients"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-campaigns-table-recipient-statuses>