<html>
<head>
  <title>{{ translate('Unsubscribe') }}</title>
  <style>
   * { font-family: verdana; }
   p { font-size: 9pt; }
  </style>
</head>
<body>
  <div style="width:600px;margin:5em auto 0 auto;padding:1em;background:#4780bf;color:white;">
    <b>{{ translate('Unsubscribe') }}</b>
    {% if viewParams.email %}
      ✓ {{ translate('Your email') }} <b>{{ viewParams.email}}</b> {{ translate('has been unsubscribed.') }}
    {% else %}
      <form method="GET" action="">
        <input type="hidden" name="c" value="{{ viewParams.c }}" />
        <p>
          {{ translate('Your email:') }}<br/>
          <input type="email" name="email" style="width:100%" required /><br/>
          <br/>
          <button type="submit">{{ translate('Unsubscribe') }}</button>
        </p>
      </form>
    {% endif %}
  </div>
  <p style="padding-top:1em;width:600px;margin:auto">
    {{ translate('Powered by Hubleto') }} <a href="https://www.hubleto.eu" target="_blank">www.hubleto.eu</a>.
  </p>
</body>
</html>
