<h1 class="app-main-title">{{ translate("Documents") }} > {{ translate("Templates") }}</h1>

<hblreact-documents-table-templates
  string:tag="table-documents-templates"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-documents-table-templates>
