{% set dashboard = viewParams.defaultDashboard %}

<h1 class="app-main-title">{{ translate('Welcome') }}, {{ user.first_name ?? user.email }}</h1>

<div class="mt-2">
  <app-dashboards-dashboard
    int:id-dashboard='{{ dashboard.id }}'
    json:panels='{{ dashboard.PANELS|json_encode|raw }}'>
  </app-dashboards-dashboard>
</div>

<div class="mx-auto pt-20">
  <img src="{{ config.url }}/assets/images/logo-hubleto-text-horizontal.png" class="max-w-90 m-auto">
</div>
