<h1 class="app-main-title"></h1>


<div class="flex gap-2 w-full">

  <div class="text-nowrap">

    <div><b>Internal emails</b></div>

    <div>
      <a
        class="btn btn-small btn-list-item btn-transparent mt-2"
        href="{{ hubleto.env().projectUrl }}/mail/templates"
      >
        <span class="icon"><i class="fas fa-pen-to-square"></i></span>
        <span class="text">Templates</span>
      </a>
      <a
        class="btn btn-small btn-list-item btn-transparent mt-2"
        href="{{ hubleto.env().projectUrl }}/mail/accounts/scheduled"
      >
        <span class="icon"><i class="fas fa-clock"></i></span>
        <span class="text">Scheduled to send</span>
      </a>
      <a
        class="btn btn-small btn-list-item btn-transparent mt-2"
        href="{{ hubleto.env().projectUrl }}/mail/accounts/sent"
      >
        <span class="icon"><i class="fas fa-paper-plane"></i></span>
        <span class="text">Sent</span>
      </a>
    </div>

    <div class="mt-2"><b>External accounts</b></div>

    {% for a in viewParams.accounts %}
      <div class='bg-primary/10 p-1 text-sm'>{{ a.name }}</div>
      <div class="list">
        {% for m in a.MAILBOXES %}
          <a
            class="
              btn btn-small btn-list-item
              {{ m.id == viewParams.idMailbox ? "btn-primary" : "btn-transparent" }}
            "
            href="{{ hubleto.env().projectUrl }}/mail/{{ m.id }}"
          >
            <span class="text">{{ m.name }}</span>
          </a>
        {% endfor %}
      </div>
    {% endfor %}

    <div>
      <a
        class="btn btn-small btn-list-item btn-transparent mt-2"
        href="{{ hubleto.env().projectUrl }}/mail/get"
      >
        <span class="icon"><i class="fas fa-download"></i></span>
        <span class="text">Get emails</span>
      </a>
      <a
        class="btn btn-small btn-list-item btn-transparent mt-2"
        href="{{ hubleto.env().projectUrl }}/mail/accounts"
      >
        <span class="icon"><i class="fas fa-download"></i></span>
        <span class="text">Manage accounts</span>
      </a>
    </div>

  </div>

  <div class="grow flex gap-2 flex-col md:flex-row" style="height:calc(100vh - var(--nav-height) - 1rem)">
    <div class="flex flex-col flex-grow overflow-auto">
      <h1 class="app-main-title">{{ translate('Mail') }} > {{ viewParams.account.name }} > {{ viewParams.mailbox.name }}</h1>
      <app-mail-table-mails
        int:id-account="{{ viewParams.account.id }}"
        int:id-mailbox="{{ viewParams.mailbox.id }}"
        bool:readonly="true"
        string:view="briefOverview"
      ></app-mail-table-mails>
    </div>
  </div>
</div>