<h1 class="app-main-title">{{ translate('Help') }} > {{ translate('Search') }}</h1>

<div class="w-1/3">
  <div class="card card-body">
    <h2>{{ translate('Bring search to the brand new level.') }}</h2>
    <p>
      {{ translate('Hubleto fulltext search provides powerful functionality to enhance search capabilities.') }}
    </p>
  </div>
  <div class="card mt-2">
    <div class="card-header">{{ translate('Ctrl+K shortcut') }}</div>
    <div class="card-body">
      {{ translate('Type {ctrlK} to start searching at any time.')|replace({'{ctrlK}': '<code>Ctrl+K</code>'})|raw }}
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">{{ translate('App selectors') }}</div>
    <div class="card-body">
      {{ translate('{appSelectors} are special tags like, e.g. {codeExample}, filtering what app should be used to search. Using app selectors makes search faster and more effective because it directly points to a certain app and ignores searching in other apps.')|replace({'{appSelectors}': '<i>' ~ translate('App selectors') ~ '</i>', '{codeExample}': '<code>app:deals</code>'})|raw }}
      <br/>
      <br/>
      {{ translate('Example:') }}
      <div class="alert alert-info">
        <code>&gt;deals D25-005</code> {{ translate('will invoke search in {dealsApp} app with expression {expression}.')|replace({'{dealsApp}': '<i>deals</i>', '{expression}': '<i>D25-005</i>'})|raw }}
      </div>
      <br/>
      {{ translate('The app selectors are intuitive, try using {contacts} or {tasks}.')|replace({'{contacts}': '<code>&gt;contacts</code>', '{tasks}': '<code>&gt;tasks</code>'})|raw }}
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">{{ translate('Switches') }}</div>
    <div class="card-body">
      {{ translate('{switches} behave a bit differently from {appSelectors}. By providing a switch (e.g, {codeExample}), you may directly specify, what kind of data you want to search. One switch may be assigned with more than one app.')|replace({'{switches}': '<i>' ~ translate('Switches') ~ '</i>', '{appSelectors}': '<i>' ~ translate('App selectors') ~ '</i>', '{codeExample}': '<code>/tasks</code>'})|raw }}
      <br/>
      {{ translate('Example:') }}
      <div class="alert alert-info">
        <code>/tasks T25-005</code> {{ translate('will search for tasks (or related data) across the whole Hubleto, containing identifier {identifier}.')|replace({'{identifier}': '<i>T25-005</i>'})|raw }}
      </div>
      <br/>
      {{ translate('Switches can have their shorthand variants, e.g. {short} is equal to {long}.')|replace({'{short}': '<code>/ts</code>', '{long}': '<code>/tasks</code>'})|raw }}
    </div>
  </div>
</div>
