{% set dashboard = viewParams.defaultDashboard %}
{% set welcomeSplashImageUrl = config.welcomeSplashImageUrl ?? config.assetsUrl ~ "/images/logo-hubleto-text-horizontal.png" %}

<div
  class="border p-2 mb-2 flex gap-2 rounded"
  style="border-color:{{ user.DEFAULT_COMPANY.brand_color_primary ?? '#EEEEEE' }}"
>
  {% if user.DEFAULT_COMPANY.logo != '' %}
    <div class="border-r" style="border-color:{{ user.DEFAULT_COMPANY.brand_color_primary ?? '#EEEEEE' }}">
      <img
        src="{{ config.uploadUrl }}/{{ user.DEFAULT_COMPANY.logo }}"
        class="max-h-32 m-8"
      />
    </div>
  {% endif %}
  <div class="m-8">
    <h1 class="app-main-title">{{ translate('Welcome') }}, {{ user.first_name ?? user.email }}</h1>
    <b>{{ user.DEFAULT_COMPANY.name }}</b><br/>
    {{ user.email }}
    <a href="settings/my-account" class="text-primary">{{ translate('Edit profile') }}</a><br/>
  </div>
</div>

{% if hubleto.appManager().isAppInstalled('Hubleto\\App\\Community\\Usage') %}
  {% set recentlyUsed = hubleto.getService('Hubleto\\App\\Community\\Usage\\Logger').getRecentlyUsedAppNamespaces() %}
  {% if recentlyUsed|length > 0 %}
    <div class="mb-2 dark:text-gray-200">
      <div><small>Recently used apps</small></div>
      <div>
        {% for appNamespace in recentlyUsed %}
          {% set manifest = hubleto.appManager().getApp(appNamespace).manifest %}
          <a href="{{ manifest.rootUrlSlug }}" class="btn btn-square btn-large btn-transparent">
            <span class="icon"><i class="{{ manifest.icon }}"></i></span>
            <span class="text">{{ manifest.nameTranslated }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}

<div class="mt-2">
  <app-dashboards-dashboard
    int:id-dashboard='{{ dashboard.id }}'
    json:panels='{{ dashboard.PANELS|json_encode|raw }}'
    bool:show-add-new-panel-button='true'
  ></app-dashboards-dashboard>
</div>

<div class="mx-auto pt-20">
  <img src="{{ welcomeSplashImageUrl }}" class="max-w-90 m-auto">
</div>
