<div class="d-flex justify-content-between align-items-center">
  <h1 class="app-main-title">{{ viewParams.sidebarGroup.title }}</h1>

  <div>
    {% for app in viewParams.apps %}
    <a href="{{ config.projectUrl }}/{{ app.rootUrlSlug }}/" class="btn btn-square btn-large btn-transparent">
      <span class="icon"><i class="{{ app.icon }}"></i></span>
      <span class="text">{{ app.name }}</span>
    </a>
    {% endfor %}

    <div class="mt-4">
      <app-dashboards-dashboard
        json:panels='{{ viewParams.boards|json_encode|raw }}'
        bool:show-add-new-panel-button='false'
      ></app-dashboards-dashboard>
    </div>
</div>
