<h1>{{ translate('Settings') }}</h1>

<script>
  function searchSetting(q) {
    if (q == '') {
      $("#setting-buttons .btn").show();
    } else {
      $("#setting-buttons .btn").hide();
      const regex = new RegExp(q, "i");
      $("#setting-buttons .btn").each(function() {
        if ($(this).find('.text').text().match(regex)) {
          $(this).show();
        }
      });
      {# const found = paragraph.match(regex); #}
    }
  }
</script>

<div class="flex flex-col sm:flex-row">
  <div class="basis-8/12 order-2 sm:order-1">
    <div class="text-lg m-auto w-1/2">
      <input
        class="w-full p-2 border border-gray"
        placeholder="Search settings..."
        onkeyup="searchSetting(this.value);"
      />
    </div>

    <div id="setting-buttons" class="mt-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
      {% for setting in viewParams.settings %}
        <a class="btn btn-transparent" href="{{ setting.url }}">
          <span class="icon"><i class="{{ setting.icon }}"></i></span>
          <span class="text">{{ setting.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="basis-4/12 ml-2  order-1 sm:order-2">
    {% if viewParams.main.isPremium %}
      <div class="alert alert-success mt-2">
        Your Premium features are already activated.
      </div>
    {% else %}
      <div class="card mt-2">
        <div class="card-header">
          Premium features are not availabe.
        </div>
        <div class="card-body">
          <a class="btn btn-large btn-primary" href="{{ config.accountUrl }}/premium">
            <span class="icon"><i class="fas fa-trophy"></i></span>
            <span class="text">Upgrade to Premium</span>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">{{ translate('Manage installed apps') }}</div>
  <div class="card-body">
    {% for app in viewParams.main.apps.getRegisteredApps() %}
      <div class="my-1 sm:flex flex-wrap p-1 sm:flex-nowrap justify-between hover:bg-slate-100">
        <div class="flex gap-2">
          <div class="w-10 text-xl">
            <i class="{{ app.manifest.icon }}"></i>
          </div>
          <div class="text-sm">
            <div><b>{{ app.manifest.nameTranslated }}</b></div>
            <div>{{ app.manifest.highlightTranslated }}</div>
            <div class="text-gray-400">{{ app.namespace }}</div>
          </div>
        </div>
        <div>
          <a class="btn btn-transparent" href="{{ app.manifest.rootUrlSlug }}/settings">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="text">{{ translate('Settings') }}</span>
          </a>
          <a class="btn btn-transparent" href="{{ app.manifest.rootUrlSlug }}">
            <span class="icon"><i class="fas fa-arrow-right"></i></span>
            <span class="text">{{ translate('Open') }}</span>
          </a>
          {# <a class="btn btn-red" href="{{ app.url }}">
            <span class="text">{{ translate('Uninstall') }}</span>
          </a> #}
        </div>
      </div>
    {% endfor %}
  </div>
</div>