<h1>{{ translate('Settings') }}</h1>

<script>
  function searchSetting(q) {
    if (q == '') {
      $("#setting-buttons .btn").show();
    } else {
      $("#setting-buttons .btn").hide();
      const regex = new RegExp(q, "i");
      $("#setting-buttons .btn").each(function() {
        if ($(this).find('.text').text().match(regex)) {
          $(this).show();
        }
      });
      {# const found = paragraph.match(regex); #}
    }
  }
</script>

<div class="flex">
  <div class="basis-8/12">
    <div class="text-lg m-auto w-1/2">
      <input
        class="w-full p-2 border border-gray"
        placeholder="Search settings..."
        onkeyup="searchSetting(this.value);"
      />
    </div>

    <div id="setting-buttons" class="mt-4 grid grid-cols-4 gap-2">
      {% for setting in viewParams.settings %}
        <a class="btn btn-transparent" href="{{ setting.url }}">
          <span class="icon"><i class="{{ setting.icon }}"></i></span>
          <span class="text">{{ setting.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="basis-4/12 ml-2">
    {% if viewParams.app.isPro %}
      <div class="alert alert-success mt-2">
        You are already PRO.
      </div>
    {% else %}
      <div class="card mt-2">
        <div class="card-header">
          You're not PRO
        </div>
        <div class="card-body">
          <a class="btn btn-large btn-primary" href="{{ config.accountUrl }}/upgrade">
            <span class="icon"><i class="fas fa-trophy"></i></span>
            <span class="text">Upgrade to PRO</span>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">Manage installed apps</div>
  <div class="card-body">
    {% for app in viewParams.app.apps %}
      <div class="my-1 flex justify-between">
        <span class="text-sm">{{ app.namespace }}</span>
        <div>
          <a class="btn btn-transparent" href="{{ app.url }}">
            <span class="text">Disable</span>
          </a>
          <a class="btn btn-red" href="{{ app.url }}">
            <span class="text">Uninstall</span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>