<h1>{{ translate('Settings') }}</h1>

<div class="card">
  <div class="card-header">{{ translate('Users') }}</div>
  <div class="card-body">
    <app-settings-table-users></app-settings-table-users>
  </div>
</div>

<script>
  function searchSetting(q) {
    if (q == '') {
      $("#setting-buttons .btn").show();
    } else {
      $("#setting-buttons .btn").hide();
      const regex = new RegExp(q, "i");
      $("#setting-buttons .btn").each(function() {
        if ($(this).find('.text').text().match(regex)) {
          $(this).show();
        }
      });
      {# const found = paragraph.match(regex); #}
    }
  }
</script>

<div class="card mt-2">
  <div class="card-body">
    <input
      class="w-full p-2 border border-gray text-lg"
      placeholder="Search settings..."
      onkeyup="searchSetting(this.value);"
    />

    <div id="setting-buttons" class="mt-4 flex flex-wrap gap-2">
      {% for setting in viewParams.settings %}
        <a class="btn btn-transparent btn-square w-32" href="{{ setting.url }}">
          <span class="icon"><i class="{{ setting.icon }}"></i></span>
          <span class="text">{{ setting.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">
    <div>
      {{ translate('Manage installed apps') }}
      <div>
        <div class="badge badge-info">Installed apps: {{ viewParams.installedApps|length }}</div>
        <div class="badge badge-info">Available apps: {{ viewParams.availableApps|length }}</div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form action="" method="get">
      <input
        name="findApp"
        class="w-full p-2 border border-gray text-lg {{ viewParams.findApp == "" ? "" : "bg-yellow-100 border-yellow-300" }}"
        placeholder="Search app..."
        value="{{ viewParams.findApp }}"
      />
    </form>

    <div class="grid md:grid-cols-4 lg:grid-cols-4 gap-2 mt-2">
      {% for appNamespace, app in viewParams.appsToShow %}
        <div class="card">
          <div class="card-header">
            <div>
              {{ app.manifest.nameTranslated ?? app.manifest.name }}
              {% if app.type == 1 %} <div class="badge badge-violet">Community</div> {% endif %}
              {% if app.type == 2 %} <div class="badge badge-lime">Enterprise</div> {% endif %}
              {% if app.type == 3 %} <div class="badge badge-yellow">External</div> {% endif %}
            </div>
            <i class="{{ app.manifest.icon }}"></i>
          </div>
          <div class="card-body">
            <div>{{ app.manifest.highlightTranslated ?? app.manifest.highlight }}</div>
            <div class="text-gray-400">{{ app.namespace }}</div>
          </div>
          <div class="card-footer">
            {% if app.instance %}
              {% if app.hasCustomSettings %}
                <a class="btn btn-transparent" href="{{ app.manifest.rootUrlSlug }}/settings">
                  <span class="icon"><i class="fas fa-cog"></i></span>
                  <span class="text">{{ translate('Settings') }}</span>
                </a>
              {% endif %}
              <a class="btn btn-blue" href="{{ app.manifest.rootUrlSlug }}">
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
                <span class="text">{{ translate('Open') }}</span>
              </a>
              {% if app.instance.enabled %}
                {% if app.instance.canBeDisabled %}
                  <a class="btn btn-red-outline" href="?disableApp={{ appNamespace }}">
                    <span class="icon"><i class="fas fa-trash-can"></i></span>
                    <span class="text">{{ translate('Disable') }}</span>
                  </a>
                {% endif %}
              {% else %}
                <a class="btn btn-success" href="?enableApp={{ appNamespace }}">
                  <span class="icon"><i class="fas fa-check"></i></span>
                  <span class="text">{{ translate('Enable') }}</span>
                </a>
              {% endif %}
            {% else %}
              {% if app.type == 1 or viewParams.main.isPremium %}
                <a class="btn btn-primary" href="?installApp={{ appNamespace }}">
                  <span class="icon"><i class="fas fa-add"></i></span>
                  <span class="text">{{ translate('Install') }}</span>
                </a>
              {% elseif not viewParams.main.isPremium %}
                <div class="badge badge-warning">You can install Enterprise apps only in Premium account.</div>
                <a class="btn btn-primary" href="{{ config.accountUrl }}/cloud">
                  <span class="icon"><i class="fas fa-medal"></i></span>
                  <span class="text">{{ translate('Activate Premium account') }}</span>
                </a>
              {% endif %}
            {% endif %}
            {# <a class="btn btn-red" href="{{ app.url }}">
              <span class="text">{{ translate('Uninstall') }}</span>
            </a> #}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>