
<h1 class="app-main-title">Premium</h1>

<div class="grid grid-cols-2 gap-2 mt-2">
  <div>
    {% if viewParams.main.isPremium %}
      <div class="badge badge-success text-center text-2xl p-4 block">You are already upgraded to Premium</div>
      <div class="badge badge-success text-center block">Note: Activation of premium account is automatically  updated on a monthly basis.</div>
      {% if viewParams.freeTrialInfo.isTrialPeriod %}
        <div class="badge badge-info block text-center text-2xl p-4 mt-2">
          Free trial expires in <b>{{ viewParams.freeTrialInfo.trialPeriodExpiresIn }} days</b>.<br/>
          Make a payment or configure recurring payments.
        </div>
      {% endif %}
      <div class="block badge text-center {% if viewParams.currentCredit <= 0 %} badge-danger {% else %} badge-success {% endif %} text-2xl p-4 mt-2 ">
        Your current credit is<br/>
        <br/>
        <b style="font-size:3em">{{ viewParams.main.locale.formatCurrency(viewParams.currentCredit, '€') }}</b>
      </div>
      {% if viewParams.currentCredit <= 0 %}
        {% set creditExhaustedOn = viewParams.app.configAsString('creditExhaustedOn') %}
        {% if creditExhaustedOn != '' %}
          <div class="badge badge-danger block text-center">
            Credit was exchausted on {{ creditExhaustedOn }}.
          </div>
        {% endif %}
      {% endif %}
      <div class="mt-2 list">
        <a href="premium/payments" class="btn btn-transparent btn-bold btn-list-item">
          <span class="icon"><i class="fas fa-euro"></i></span>
          <span class="text">Make a single payment</span>
        </a>
        <a href="premium/payments" class="btn btn-transparent btn-bold btn-list-item">
          <span class="icon"><i class="fas fa-euro"></i></span>
          <span class="text">Configure recurring payments</span>
        </a>
        <a href="premium/payments" class="btn btn-transparent btn-list-item">
          <span class="icon"><i class="fas fa-euro"></i></span>
          <span class="text">Show payments</span>
        </a>
        <a href="settings" class="btn btn-transparent btn-list-item">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="text">Manage users and apps</span>
        </a>
        <a href="premium/test/make-random-payment" class="btn btn-transparent btn-list-item">
          <span class="icon"><i class="fas fa-euro"></i></span>
          <span class="text">TEST: Simulate random payment</span>
        </a>
        <a href="premium/test/clear-credit" class="btn btn-transparent btn-list-item">
          <span class="icon"><i class="fas fa-euro"></i></span>
          <span class="text">TEST: Clear credit</span>
        </a>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          Your Premium benefits
        </div>
        <div class="card-body">
          <ul>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited storage</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited users</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> more apps & features</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> 24/7 support</li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="badge badge-warning text-2xl p-4 block text-center">You are using free personal account.</div>
      <div class="badge badge-warning block text-center">Note: Activation of premium account is automatically  updated on a monthly basis.</div>
      <div class="card mt-2">
        <div class="card-body">
          Your account will be automatically upgraded to premium when you:
          <ul>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> add new users or activate existing</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> install or enable premium apps</li>
          </ul>
          <a href="{{ config.accountUrl }}/settings" class="btn btn-transparent">
            <span class="icon"><i class="fas fa-users"></i></span>
            <span class="text">Manage users</span>
          </a>
          <a href="{{ config.accountUrl }}/settings" class="btn btn-transparent">
            <span class="icon"><i class="fas fa-puzzle-piece"></i></span>
            <span class="text">Manage apps</span>
          </a>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          Upgrade to Premium and you'll get
        </div>
        <div class="card-body">
          <ul>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited storage</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> unlimited users</li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> more apps & features </li>
            <li class="my-2"><i class="mr-2 fas fa-check text-green-500"></i> 24/7 support</li>
          </ul>
        </div>
      </div>
    {% endif %}
  </div>

  <div>
    <div class="card">
      <div class="card-header">Usage info</div>
      <div class="card-body">
        <table class="table-default dense">
          <thead>
            <tr>
              <th>Month</th>
              <th>Max active users</th>
              <th>Max paid apps</th>
              <th>Charged for premium</th>
            </tr>
          </thead>
          <tbody>
            {% for log in viewParams.log %}
              <tr>
                <td>{{ log.year }}-{{ log.month }}</td>
                <td>{{ log.max_active_users }}</td>
                <td>{{ log.max_paid_apps }}</td>
                <td>{% if log.max_active_users > 1 or log.max_paid_apps > 1 %} yes {% else %} no {% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="mt-2">
          <a class="btn btn-transparent" href="premium/log">
            <span class="text">Show details</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>