<h1 class="app-main-title">{{ translate('Events') }} > {{ translate('Event attendees') }}</h1>

<hblreact-events-table-eventattendees
  string:tag="table-eventattendees"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-events-table-eventattendees>