<h1 class="app-main-title">{{ translate('Events') }} > {{ translate('Events') }}</h1>

<hblreact-events-table-events
  string:tag="table-events"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-events-table-events>