Model <b>{{ viewParams.model }}</b>.

<div class="mt-2">
  {% if viewParams.error != '' %}
    <div class="alert alert-danger">{{ viewParams.error }}</div>
  {% else %}

    <table class="table-default dense">
      <thead>
        <tr>
          <th>Item</th>
          <th>Days without workflow update</th>
        </tr>
      </thead>
      <tbody>
        {% for r in viewParams.records %}
          <tr>
            <td>
              <i>{{ r.WORKFLOW_STEP.name }}</i>
              <a href="{{ config.projectUrl }}/{{ r._URL_DETAIL }}" target="_blank">{{ r._LOOKUP }}</a><br/>
              <div class="text-xs">
                {{ r._LOOKUP_DETAILS }}
                |
                Last update by @{{ r.USER.nick }}
              </div>
            </td>
            <td>{{ r.last_change_before_days }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>