<h1 class="app-main-title">{{ translate('Products') }} > {{ translate('Groups') }}</h1>

<hblreact-products-table-groups
  string:tag="products-table-groups"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-products-table-groups>