

<!-- <h2>{{ viewParams.pipeline.name}}</h2> -->
{% set pipelinePrice = 'Price by currency:\n' %}
{% for currencyGroup in viewParams.pipeline.currency_groups %}
  {% set pipelinePrice = pipelinePrice ~ currencyGroup.price ~ ' ' ~ currencyGroup.code ~ '\n' %}
{% endfor %}

<div>
  <form class="inline-block" action="" method="post">
    <select class="border p-2 mb-2 mt-2 rounded-md border-gray-200 text-2xl font-bold text-purple-500" name="id_pipeline" onchange="submit()">
      {% for pipeline in viewParams.pipelines %}
        <option value="{{ pipeline.id }}"
        {% if pipeline.id == viewParams.pipeline.id %} selected {% endif %}
        >{{ pipeline.name }}</option>
      {% endfor %}
    </select>
  </form>
  <span class="inline-block align-bottom mb-2 text-gray-400">Potential Pipeline Gain: {{viewParams.pipeline.price}}</span>
  <a class="inline-block align-bottom mb-2 text-gray-400" id="pipiline-price" data-pr-tooltip="{{ pipelinePrice|raw }}"><i class="fa fa-info-circle"></i></a>
  <app-tooltip string:target="#pipiline-price"></app-tooltip>
</div>

<div class="flex flex-row justify-start gap-2 w-full">
  {% for step in viewParams.pipeline.PIPELINE_STEPS %}
    <div class="card min-h-[85vh] w-[230px]">
      <div class="card-header flex flex-col gap-1">
        <span>{{ step.name }}</span>
        <span style="font-size: 9pt;" class="text-gray-300 font-normal">Potential Gain: {{step.sum_price}} €</span>
      </div>
      <div class="card-body">
        {% for deal in viewParams.deals %}
          {% if deal.id_pipeline_step == step.id %}
            <div class="card" style="border-color: {{deal.LABEL.color}};">
              <div class="card-header rounded flex flex-col p-2 text-sm">
                <div class="flex flex-row justify-between gap-3">
                  <span class="truncate">{{deal.COMPANY.name}}</span>
                  <span style="color: {{deal.LABEL.color}};" class="font-normal">{{deal.LABEL.name}}</span>
                </div>
                <span style="font-size: 8pt;" class="text-gray-300 truncate">{{deal.title}}</span>
              </div>
              <div class="card-body flex flex-row justify-between">
                <span>{{deal.price}} {{deal.CURRENCY.code}}</span>
                <span class="icon">
                  <a href="./deals?recordId={{deal.id}}">
                    <i class="fas fa-circle-right text-gray-300 hover:text-gray-500"></i>
                  </a></span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>