<h1 class="app-main-title">{{ translate('Milestones') }}</h1>

<hblreact-projects-table-milestones
  string:tag="table-projects"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-projects-table-milestones>