<h1 class="app-main-title">{{ translate('Projects') }} > {{ translate('Assignment of tasks') }}</h1>

<hblreact-table
  string:model="Hubleto/App/Community/Projects/Models/ProjectTask"
  string:tag="table-projects-tasks"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-table