<div class="card-header rounded flex flex-col p-2 text-sm font-normal">
  <div class="flex justify-between w-full">
    <div class="flex flex-col truncate">
      <div class="text-gray-400">{{ item.CUSTOMER.name }}</div>
      <div class="font-bold">{{ item.identifier }} {{ item.title }}</div>
      <div class="text-primary">{{ item.MAIN_DEVELOPER.email }}</div>
      {% for t in item.TASKS %}
        <div class="text-sm text-gray-400">{{ t.TASK.identifier }} {{ t.TASK.title }}</div>
      {% endfor %}
    </div>
  </div>
</div>
