<h1 class="app-main-title">{{ translate('Leads') }}</h1>

<hblreact-leads-table-leads
  string:tag="table-leads"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-leads-table-leads>
