<h1 class="app-main-title">{{ translate('Leads') }} &gt; {{ translate('Levels') }}</h1>

<hblreact-leads-table-levels
  string:tag="table-leads-levels"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-leads-table-levels>