<h1 class="app-main-title flex">
  {{ translate('Deals') }}

  <div class="flex gap-2 items-center ml-2">
    <div class="badge badge-green text-nowrap">
      {{ translate('Open deals') }}: {{ viewParams.result.count }}
    </div>
    <div class="badge badge-green text-nowrap">
      {{ translate('Total value') }}: {{ hubleto.locale().formatCurrency(viewParams.result.price ?? '') }}
    </div>
  </div>
</h1>

<hblreact-deals-table-deals
  string:tag="table-deals"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-deals-table-deals>