<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  * { font-family: "Helvetica"; font-size: 12px; }
</style>

<div>
  <div class="dtop">
    <div style="font-size:24pt"><b>Faktúra - daňový doklad č. </b></div>
    Deal: {{ identifier }} {{ title }}<br/>
    {% if version %} Version {{ version }}<br/> {% endif %}
    Generated on: {{ now }}<br/>
    Customer: {{ CUSTOMER.name }}<br/>
    Contact person: {{ CONTACT.first_name }} {{ CONTACT.last_name }}<br/>
  </div>
  <br/>
  <br/>

  <table style="width:100%">
    <tr>
      <td style="width:60%"><b>Product</b></td>
      <td style="width:10%"><b>Unit price</b></td>
      <td style="width:10%"><b>Amount</b></td>
      <td style="width:10%"><b>Discount</b></td>
      <td style="width:10%"><b>Subtotal</b></td>
    </tr>
    {% for item in ITEMS %}
      <tr>
        <td style="width:60%">
          {{ item.PRODUCT.name }}
          {% if item.description %}
            <div style="color:#666666">
              {{ item.description }}
            </div>
          {% endif %}
        </td>
        <td style="width:10%">{{ item.unit_price|number_format(2, ",", " ") }} €</td>
        <td style="width:10%">{{ item.amount|number_format(2, ",", " ") }} </td>
        <td style="width:10%">{{ item.discount|number_format(0, ",", " ") }} %</td>
        <td style="width:10%"><b>{{ item.price_excl_vat }}|number_format(2, ",", " ") €</b></td>
      </tr>
    {% endfor %}
  </table>

  <div style="font-size:24px"><b>Total: {{ price_excl_vat }}|number_format(2, ",", " ") €</b></div>

  Note: All prices are excluding value added tax.
</div>

<br/><br/><br/>
<div>
  <b><span style="color:#05b9e9">wai</span><span style="color:#58585a">blue</span></b><br/>
  <span style="color:#58585a">software_engineering_experts</span><br/>
</div>
