{{ setTranslationContext('desktop') }}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='{{ config.url }}/assets/images/favicon.png'>
  <title>{{ user.PROFILE.company }} | Ceremony CRM</title>

  <script>
    window.ConfigEnv = {
      'rewriteBase': '{{ config.rewriteBase }}',
      'url': '{{ config.accountUrl }}',
      'accountUrl': '{{ config.accountUrl }}',
      'uploadUrl': '{{ config.uploadUrl }}',
    }
  </script>

  <script src='{{ config.accountUrl }}/adios/cache.js'></script>
  <script defer src='{{ config.url }}/assets/compiled/app.js'></script>

  <link rel="stylesheet" type="text/css" href="{{ config.url }}/assets/css/fontawesome-6.6.css">
  <link rel="stylesheet" type="text/css" href="{{ config.url }}/assets/compiled/app.css">

  <script>
    ADIOS.onAppLoaded(() => {
      globalThis.app.idUser = {{ user.id ?? 0 }};
      globalThis.app.loadDictionary('{{ user.language ?: "en" }}');
    });
  </script>

</head>

<body id="page-top">
  {% if (viewParams.showOnlyContentHtml) %} {{ contentHtml|raw }} {% else %}

    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
      <span class="sr-only">Open sidebar</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
      </svg>
    </button>

    <nav id="default-navbar"><div>
      <div class="flex items-center">
        <div class="w-24">
          <a class="flex" href="{{ config.accountUrl }}">
            <img id="logo" src="{{ config.url }}/assets/images/logo.png" class="h-8 m-auto">
          </a>
        </div>
        <div class="ml-4">
          {{ include('@core/Views/Breadcrumbs.twig', {'items': viewParams.breadcrumbs}) }}
        </div>
      </div>
      <div class="hidden w-full md:block md:w-auto" id="default-navbar-mobile">
        <ul class="flex font-sm gap-1">
          <li>
            {% if app.isPro %}
              <a href="{{ config.accountUrl }}/you-are-pro" class="btn btn-white btn-small">
                <span class="icon text-yellow-500"><i class="fas fa-trophy"></i></span>
              </a>
            {% else %}
              <a href="{{ config.accountUrl }}/upgrade" class="btn btn-white btn-small">
                <span class="icon"><i class="fas fa-cloud-arrow-up"></i></span>
                <span class="text">{{ translate('Upgrade to PRO') }}</span>
              </a>
            {% endif %}
          </li>
          <li>
            <button class="btn btn-white btn-small btn-dropdown">
              <span class="icon"><i class="fas fa-envelope"></i></span>
              <span class="text">3</span>
              <div class="menu">
                <div class="list" style="margin-left:-16.2em;width:18em;">
                  <div class="text-center">
                    <i class="fas fa-envelope text-primary text-2xl p-4"></i>
                  </div>
                  <h1 class="text-center p-6 m-0">{{ translate('Your messages') }}</h1>
                  <div>
                    <a href="#" class="btn btn-white btn-list-item m-1"><span class="icon"><i class="fas fa-envelope"></i></span><span class="text">Využite špeciálnu zľavu</span></a>
                    <a href="#" class="btn btn-white btn-list-item m-1"><span class="icon"><i class="fas fa-envelope"></i></span><span class="text">Vydali sme novú verziu</span></a>
                    <a href="#" class="btn btn-white btn-list-item m-1"><span class="icon"><i class="fas fa-envelope"></i></span><span class="text">Príďte nás navštíviť na CODECON</span></a>
                  </div>
                </div>
              </div>
            </button>
          </li>
            <button class="btn btn-white btn-small btn-dropdown">
              <span class="icon"><i class="fas fa-life-ring"></i></span>
              <div class="menu">
                <div class="list !bg-yellow-50 p-4" style="position:fixed;right:0;top:0;width:30em;max-width:50%;height:100vh;margin:0;border-radius:0;border:none;">
                  <div class="text-center">
                    <i class="fas fa-life-ring text-primary text-2xl p-4"></i>
                  </div>
                  <h1 class="text-center p-6 m-0">{{ translate('Help center') }}</h1>
                  <div class="flex">
                    <div class="adios component input p-1">
                      <input
                        type="text"
                        id="helpQuery"
                        placeholder="{{ translate('Search knowledgebase...') }}"
                        class="p-1"
                        onkeypress="if (event.keyCode == 13) submitHelpQuery();"
                      />
                    </div>
                    <a class="btn btn-white btn-list-item" onclick="submitHelpQuery()">
                      <span class="icon"><i class="fas fa-arrow-right"></i></span>
                    </a>
                    <script>
                      function submitHelpQuery() {
                        window.open("{{ config.helpRootUrl }}/{{ user.language }}/?q=" + encodeURIComponent($("#helpQuery").val()));
                      }
                    </script>
                  </div>
                  <a
                    href="{{ config.helpRootUrl }}/{{ user.language }}"
                    class="btn btn-white btn-list-item"
                    target="_blank"
                  >
                    <span class="text">{{ translate('Browse knowledgebase') }}</span>
                  </a>
                  <h2 class="px-1 py-8 m-0">{{ translate('Hot tips & tricks') }}</h2>
                  {% if viewParams.help.hotTips|length == 0 %}
                    <a
                      href="{{ config.helpRootUrl }}/{{ user.language }}"
                      class="btn btn-white btn-list-item"
                      target="_blank"
                    >
                      <span class="text">{{ translate('No hot tips for this screen') }}</span>
                    </a>
                  {% else %}
                    {% for tipSlug, tipTitle in viewParams.help.hotTips %}
                      <a
                        href="{{ config.helpRootUrl }}/{{ tipSlug }}"
                        class="btn btn-blue-outline m-1"
                        target="_blank"
                      >
                        <span class="icon"><i class="fas fa-question"></i></span>
                        <span class="text">{{ tipTitle }}</span>
                      </a>
                    {% endfor %}
                  {% endif %}
                  {# <a href="#" class="btn btn-white btn-list-item"><span class="text">Plan activity in calendar</span></a>
                  <a href="#" class="btn btn-white btn-list-item"><span class="text">Add new lead</span></a> #}
                  <h2 class="px-1 py-8 m-0">{{ translate('Need more help?') }}</h2>
                  <a href="#" class="btn btn-white btn-list-item"><span class="icon"><i class="fas fa-envelope"></i></span><span class="text">{{ translate('Contact us') }}</span></a>
                </div>
              </div>
            </button>
          </li>
          <li>
            <button class="btn btn-white btn-small btn-dropdown">
              <span class="text">{{ user.language ?: 'en' }}</span>
              <div class="menu">
                <div class="list" style="margin-left:-6.2em;width:8em;">
                  <a href="?set-language=en" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/en.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">English</span></a>
                  <a href="?set-language=de" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/de.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Deutsch</span></a>
                  <a href="?set-language=es" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/es.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Español</span></a>
                  <a href="?set-language=fr" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/fr.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Francais</span></a>
                  <a href="?set-language=it" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/it.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Italiano</span></a>
                  <a href="?set-language=pl" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/pl.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Polski</span></a>
                  <a href="?set-language=cz" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/cz.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Česky</span></a>
                  <a href="?set-language=sk" class="btn btn-white btn-no-border btn-list-item"><span class="icon"><img src="{{ config.url }}/assets/images/flags/sk.jpg" style="max-height:1em;max-width:1em;" /></span><span class="text">Slovensky</span></a>
                </div>
              </div>
            </button>
          </li>
          <li>
            <button class="btn btn-white btn-small btn-dropdown">
              <span class="icon text-primary"><i class='fas fa-user-tie'></i></span>
              <div class="menu">
                <div class="list" style="margin-left:-13.4em;width:15em;">
                  <div class="text-center text-primary text-sm p-2">{{ user.email }}</div>
                  <div class="text-center text-gray-700 text-xs">{{ user.first_name }}</div>
                  <a class="btn btn-white btn-list-item p-2" href="{{ config.accountUrl }}/my-account">
                    <span class="icon"><i class='fas fa-user-tie'></i></span>
                    <span class="text">{{ translate('Manage your account') }}</span>
                  </a>
                  <a class="btn btn-white btn-list-item p-2" href="{{ config.accountUrl }}/?sign-out">
                    <span class="icon"><i class='fas fa-sign-out-alt'></i></span>
                    <span class="text">{{ translate('Sign out') }}</span>
                  </a>
                </div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div></nav>

    <aside id="default-sidebar">
      <nav>
        {% set i = 0 %}
        {% for item in viewParams.sidebar.level1Items %}
          {% if item.type == 'link' %}
            <a
              class="btn {% if item.highlighted %} btn-primary {% endif %} "
              id="sidebar-item-level1-{{ i }}"
              href="{{ config.accountUrl }}/{{ item.url }}" data-pr-tooltip="{{ item.title }}"
            >
              <span class="icon"><i class="{{ item.icon }}"></i></span><span class="text">{{ item.title }}</span>
              {# <app-tooltip string:target="#sidebar-item-level1-{{ i }}"></app-tooltip> #}
            </a>
          {% elseif item.type == 'divider' %}
            <div class="divider"></div>
          {% endif %}
          {% set i = i + 1 %}
        {% endfor %}
      </nav>

      {% if viewParams.sidebar.level2Items|length > 0 %}
        <div>
          <ul>
            {% for item in viewParams.sidebar.level2Items %}
              {% if item.type == 'link' %}
                <a class="btn btn-transparent w-full mb-1" href="{{ config.accountUrl }}/{{ item.url }}" title="{{ item.title }}">
                  <span class="icon"><i class="{{ item.icon }}"></i></span>
                  <span class="text">{{ item.title }}</span>
                </a>
              {% elseif item.type == 'heading_1' %}
                <div class="text-primary text-sm m-2">{{ item.title }}</div>
              {% elseif item.type == 'heading_2' %}
                <h2>{{ item.title }}</h2>
              {% elseif item.type == 'divider' %}
                <div class="divider"></div>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </aside>

    <app-modal
      string:uid="user-profile-modal"
      bool:is-open="false"
      string:type="centered"
    >
      <app-core-settings-form-user
        int:id="{{ user.id }}"
        bool:show-in-modal="true"
        bool:show-in-modal-simple="true"
        bool:is-inline-editing="true"
        function:on-close="
          let modal = globalThis.app.reactElements['user-profile-modal'];
          modal.setState({isOpen: false});
        "
      ></app-core-settings-form-user>
    </app-modal>

    <div
      id="app-main-content"
      class="{% if viewParams.sidebar.level2Items|length == 0 %} sidebar-only-nav {% endif %}"
    >
      {{ contentHtml|raw }}
    </div>

    <div id="app-dialogs"></div>

    <div class="text-xs mt-2 text-gray-800" style="position:fixed;right:0.5em;bottom:0.2em">
      <small><small>env: {{ config.env }}</small></small>
    </div>

  {% endif %}
</body>

</html>
