import React, { Component } from 'react'
import HubletoForm, { HubletoFormProps, HubletoFormState } from '@hubleto/src/core/Components/HubletoForm';
import Table, { TableProps, TableState } from 'adios/Table';

interface Form{{ model }}Props extends HubletoFormProps { }
interface Form{{ model }}State extends HubletoFormState { }

export default class Form{{ model }}<P, S> extends HubletoForm<Form{{ model }}Props, Form{{ model }}State> {
  static defaultProps: any = {
    ...HubletoForm.defaultProps,
    model: '{{ appNamespaceForwardSlash }}/Models/Team',
  }

  props: Form{{ model }}Props;
  state: Form{{ model }}State;

  translationContext: string = '{{ appNamespaceDoubleBackslash }}::Components\\Form{{ model }}';

  constructor(props: Form{{ model }}Props) {
    super(props);
  }

  renderTitle(): JSX.Element {
    return <>
      <h2>Record #{this.state.record.id ?? '0'}</h2>
      <small>{{ model }}</small>
    </>;
  }

  // renderContent(): JSX.Element {
  //   // This is an example code to render content of the form.
  //   // You should develop your own render content.
  //   return <>
  //     <div className='w-full flex gap-2'>
  //       <div className="p-4 flex-1 text-center">
  //         <i className="fas fa-users text-primary" style={{fontSize: '8em'}}></i>
  //       </div>
  //       <div className="flex-6">
  //         {this.inputWrapper('name')}
  //         {this.inputWrapper('color')}
  //         {this.inputWrapper('description')}
  //         {this.inputWrapper('id_manager')}
  //         {this.divider('Team members')}
  //         {this.state.id < 0 ?
  //           <div className="badge badge-info">First create team, then you will be prompted to add members.</div>
  //         :
  //           <Table
  //             uid='teams_members'
  //             model='HubletoApp/Community/Settings/Models/TeamMember'
  //             customEndpointParams={{idTeam: this.state.id}}
  //           ></Table>
  //         }
  //       </div>
  //     </div>
  //   </>;
  // }
}
