<script>
  function onFilterChange() {
    const fDealResult = document.getElementById("fDealResult").value;
    const fIdPipeline = document.getElementById("fIdPipeline").value;
    const fResponsible = globalThis.main.reactElements['fResponsible'].state.value;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const idPipeline = fIdPipeline ?? urlParams.get('id_pipeline');

    let url = '?';
    if (idPipeline) url += 'id_pipeline=' + idPipeline;
    if (fDealResult) url += '&fDealResult=' + fDealResult;
    if (fResponsible) url += '&fResponsible=' + fResponsible;

    window.location.href = url;
  }
</script>

{% set resultEnumValues = {
  1: {"color":"#c42202","title":"Lost"},
  2: {"color":"#14ab0c","title":"Won"},
  3: {"color":"#a8aba7","title":"Pending"},
} %}

<div class="flex gap-2 flex-col md:flex-row" style="height:calc(100vh - var(--nav-height) - 1rem)">
  <div class="flex flex-col flex-grow overflow-auto">
    <h1 class="app-main-title">Pipeline</h1>

    <div class="flex flex-row gap-4 mb-2 justify-between">
      <div class="flex flex-row gap-2">
        <select
          class="border p-2 rounded-md border-gray-100 text-2xl text-black"
          name="id_pipeline"
          id="fIdPipeline"
          onchange="onFilterChange()"
        >
          {% for pipeline in viewParams.pipelines %}
            <option value="{{ pipeline.id }}"
            {% if pipeline.id == viewParams.pipeline.id %} selected {% endif %}
            >{{ pipeline.name }}</option>
          {% endfor %}
        </select>
        <a class="btn btn-transparent flex items-center gap-2" href="settings/pipelines?recordId={{viewParams.pipeline.id}}" target="_blank">
          <span class="icon flex items-center"><i class="fas fa-cog"></i></span>
          <span class="text flex items-center">{{ translate('Manage pipeline steps') }}</span>
        </a>
      </div>
      <a class="btn btn-add flex items-center gap-2" href="settings/pipelines?recordId=-1" target="_blank">
        <span class="icon flex items-center"><i class="fas fa-add"></i></span>
        <span class="text flex items-center">{{ translate('Add pipeline') }}</span>
      </a>
    </div>

    <div class="card card-horizontal mb-2">
      <div class="card-header">
        <i class="fas fa-magnifying-glass"></i>
      </div>
      <div class="card-body flex gap-2">
        <div class="input-wrapper flex-1">
          <div class="input-label">Result</div>
          <div class="input-body">
            <select class="w-full border-gray-200 h-[30px]" name="fDealResult" id="fDealResult" onchange="onFilterChange();">
              <option value="0"></option>
              <option {% if viewParams.fDealResult == 3 %} selected {% endif %} value="3">Pending</option>
              <option {% if viewParams.fDealResult == 1 %} selected {% endif %} value="1">Lost</option>
              <option {% if viewParams.fDealResult == 2 %} selected {% endif %} value="2">Won</option>
            </select>
          </div>
        </div>
        <div class="input-wrapper flex-1">
          <div class="input-label">Responsible</div>
          <div class="input-body">
            <app-input-lookup
              uid="fResponsible"
              model="HubletoApp/Community/Settings/Models/User"
              class="w-full"
              value="{{ viewParams.fResponsible }}"
              function:on-change="onFilterChange();"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-stretch md:flex-row justify-start gap-2 overflow-auto">
      {% for step in viewParams.pipeline.PIPELINE_STEPS %}

        {# Step Containter #}
        <div class="card w-full md:w-[280px]">

          <div class="card-header flex flex-col gap-1">
            <span style="border-left: 1em solid {{ step.color }};padding-left:1em;">{{ step.name }}</span>

            <div class="flex flex-row gap-2 align-items-center text-gray-400">
              <span style="font-size: 9pt;" class="font-normal pt-1">Weighted Profit ({{step.probability}} %): {{ viewParams.main.locale.formatCurrency(step.sum_price) }}</span>
            </div>
          </div>

          <div class="card-body overflow-auto flex flex-row flex-wrap md:block">
            {# Deal Card #}
            {% for deal in viewParams.deals %}
              {% if deal.id_pipeline_step == step.id %}
                <div class="card mb-2 w-full md:w-auto hover:border-primary"><a class="hover:no-underline" href="./deals/{{deal.id}}" target="_blank">
                  <div class="card-header rounded flex flex-col p-2 text-sm font-normal">
                    <div class="flex justify-between w-full">
                      <div class="flex flex-col truncate">
                        <div>{{deal.identifier}}</div>
                        <div class="font-bold">{{deal.CUSTOMER.name}}</div>
                        <div class="text-gray-400">{{deal.title}}</div>
                      </div>
                      <div class="mt-1">
                        <div class="mb-3 pr-2 text-right font-normal" style="border-right: 0.5em solid {{ resultEnumValues[deal.deal_result]["color"] }}">{{ resultEnumValues[deal.deal_result]["title"] }}</div>
                        <div class="badge bg-white font-normal" style="border: 1px solid {{deal.TAG.color}}; color: {{deal.TAG.color}};">{{deal.TAG.name}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-sm">
                    <div>Value: {{deal.price}} {{deal.CURRENCY.code}}</div>
                    <div>Closes on: {{ deal.date_expected_close ? viewParams.main.locale.formatDateShort(deal.date_expected_close) : "N/A" }}</div>
                    <div>Responsible: {{ deal.USER.email }}</div>
                  </div>
                </a></div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="card-footer">
            <a
              class="btn btn-transparent"
              href="deals/add?id_pipeline={{ viewParams.pipeline.id }}&id_pipeline_step={{ step.id }}"
              target="_blank"
            >
              <span class="icon"><i class="fas fa-add"></i></span>
              <span class="text">Add deal</span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>