<h1 class="app-main-title">{{ translate('Discussions') }} > {{ translate('Messages') }}</h1>

<hblreact-discussions-table-messages
  string:tag="table-messages"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-discussions-table-messages>