<h1 class="app-main-title">{{ translate('Warehouses') }} > {{ translate('Transactions') }} > {{ translate('Items') }}</h1>

<hblreact-warehouses-table-transaction-items
  string:tag="table-transaction-items"
  int:record-id="{{ viewParams.recordId }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-warehouses-table-transaction-items>