<h1>{{ translate('Settings') }}</h1>

<div class="mt-4 grid grid-cols-4 gap-2">
  <a class="btn btn-transparent" href="settings/users">
    <span class="icon"><i class="fas fa-user"></i></span>
    <span class="text">{{ translate('Users') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/user-roles">
    <span class="icon"><i class="fas fa-user-group"></i></span>
    <span class="text">{{ translate('User Roles') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/profiles">
    <span class="icon"><i class="fas fa-id-card"></i></span>
    <span class="text">{{ translate('Profiles') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/settings">
    <span class="icon"><i class="fas fa-cog"></i></span>
    <span class="text">{{ translate('Settings') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/permissions">
    <span class="icon"><i class="fas fa-shield-halved"></i></span>
    <span class="text">{{ translate('Permissions') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/tags">
    <span class="icon"><i class="fas fa-tags"></i></span>
    <span class="text">{{ translate('Tags') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/activity-types">
    <span class="icon"><i class="fas fa-layer-group"></i></span>
    <span class="text">{{ translate('Activity Types') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/contact-types">
    <span class="icon"><i class="fas fa-phone"></i></span>
    <span class="text">{{ translate('Contact Types') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/countries">
    <span class="icon"><i class="fas fa-globe"></i></span>
    <span class="text">{{ translate('Countries') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/currencies">
    <span class="icon"><i class="fas fa-dollar-sign"></i></span>
    <span class="text">{{ translate('Currencies') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/labels">
    <span class="icon"><i class="fas fa-tags"></i></span>
    <span class="text">{{ translate('Labels') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/lead-statuses">
    <span class="icon"><i class="fas fa-arrow-down-short-wide"></i></span>
    <span class="text">{{ translate('Lead Statuses') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/deal-statuses">
    <span class="icon"><i class="fas fa-arrow-up-short-wide"></i></span>
    <span class="text">{{ translate('Deal Statuses') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/pipelines">
    <span class="icon"><i class="fas fa-bars-progress"></i></span>
    <span class="text">{{ translate('Pipelines') }}</span>
  </a>
  <a class="btn btn-transparent" href="settings/invoice-profiles">
    <span class="icon"><i class="fas fa-user-tie"></i></span>
    <span class="text">{{ translate('Invoice profiles') }}</span>
  </a>
</div>