<h1 class="app-main-title">{{ translate('Worksheets') }} > {{ translate('Activities') }}</h1>

<hblreact-worksheets-table-activities
  string:tag="table-activities"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-worksheets-table-activities>