<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Workflows') }}</h1>

<hblreact-settings-table-workflows
  string:tag="table-workflows"
  int:record-id="{{ viewParams.recordId }}"
  string:fulltext-search='{{ viewParams.q }}'
  json:column-search='{{ viewParams.search|json_encode }}'
  json:filters='{{ viewParams.filters|json_encode }}'
  string:form-active-tab-uid='{{ viewParams.tab }}'
></hblreact-settings-table-workflows>